<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Create Long-term Discussion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Enter the name of the discussion: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Enter the description of the discussion: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
