<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create LTD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name of discussion:</ion-label>
        <ion-input type="text" [(ngModel)]='name'></ion-input>
      </ion-item>
      <ion-item class="description-inputbox">
        <ion-label position="floating">Description:</ion-label>
        <ion-textarea [(ngModel)]='description'></ion-textarea>
      </ion-item>
      <ion-item>
        <tag-input class="category-input" [(ngModel)]="categoriesInput" 
           secondaryPlaceholder='Categories' separatorKeyCodes="[32]">
        </tag-input>
      </ion-item>
      <ion-item>
        <ion-label>Private discussion?</ion-label>
        <ion-checkbox [(ngModel)]="private" color="primary" position="end"></ion-checkbox>
      </ion-item>
      <ion-item *ngIf="private">
        <ion-input placeholder="Password" [type]="isPasswordVisible ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
        <ion-icon slot="end" [name]="isPasswordVisible ? 'eye-outline' : 'eye-off-outline'" (click)="togglePasswordVisibility()">
        </ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="ion-padding-horizontal">
    <ion-button (click)="onCreate()" size="medium" type="submit" color="primary" expand="block">Create</ion-button>
  </div>
</ion-content>
