.argument-card {
    width: 100%;
}

.argument-text {
    color: black;
    font-size: medium;
}

ion-icon {
    font-size: 24px;
}

.submission-info {
    color: gray;
    font-size: small;
    text-align: center;
}