<ion-title class="ion-text-center ion-margin">
  Rate other arguments
</ion-title>
<ion-list *ngIf="roundArguments">
  <div *ngFor="let argument of roundArguments">
    <ion-item *ngIf="argument.user != user">
      <ion-card class="argument-card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text class="argument-text" readonly>
                {{ argument.text }}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-justify-content-center ion-text-center" (click)="onLike(argument)">
              <ion-icon name="arrow-up-circle-outline"  [color]="hasLiked(argument) ? 'primary' : 'medium'"></ion-icon> <br>
            </ion-col>
            <ion-col class="ion-justify-content-center ion-text-center" (click)="onDislike(argument)"> 
              <ion-icon name="arrow-down-circle-outline"  [color]="hasDisliked(argument) ? 'danger' : 'medium'"></ion-icon> <br>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </div>
</ion-list>
<div class="ion-padding-horizontal">
  <ion-button (click)="onSubmitRating()" size="medium" type="submit" color="primary" expand="block">Submit</ion-button>
</div>
<div class="ion-text-center submission-info">
  <ion-text *ngIf="submissionState" >
    Submitted ratings: {{submissionState.receivedRatings}} Remaining: {{submissionState.totalUsers - submissionState.receivedRatings}}
  </ion-text>
  <br>
  <ion-text *ngIf="ratingSubmitted">
    Your rating has been submitted.
  </ion-text>
</div>

