<ion-header>
  <ion-toolbar>
    <ion-title>Sign-Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signupForm">
    <ion-grid>
      <ion-row color="secondary" class="ion-justify-content-center">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding">
            <ion-item>
              <ion-label position="floating">E-Mail</ion-label>
              <ion-input formControlName="email" position="floating"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <div class="error-message" *ngIf="email.errors && (email.dirty || email.touched)">
                Your E-Mail is invalid!
              </div>
            </div>

            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input formControlName="username" position="floating"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input placeholder="Password" formControlName="password" position="floating" [type]="isPasswordVisible ? 'text' : 'password'"></ion-input>
              <ion-icon slot="end" [name]="isPasswordVisible ? 'eye-outline' : 'eye-off-outline'" (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>
            <div class="validation-errors">
              <div class="error-message" *ngIf="password.errors && (password.dirty || password.touched)">
                Password has to contain at least one uppercase letter, one lowercase letter and one number
              </div>
              <div class="error-message" *ngIf="password.errors?.minlength && (password.dirty || password.touched)">
                Password must be at least 8 characters long.
              </div>
            </div>

            <ion-item>
              <ion-input placeholder="Confirm Password" formControlName="confirmPassword" position="floating" type="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <div class="error-message" 
                *ngIf="password.value !== confirmPassword.value && (confirmPassword.dirty || confirmPassword.touched)">
                  Password has to match
                </div>
              </div>
          </div>
          <div class="ion-padding-horizontal">
            <ion-button (click)="onSignUp()" size="medium" type="submit" color="secondary" expand="block">Signup
            </ion-button>
          </div>
          <div class="ion-text-center">
            <a class="register_message" href="/login" routerDirection="back">Already a member of the Club? Please enter here!</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
