ion-content {
    height: 100%;
}

.validation-errors {
    font-size: small;
    color: red;
}

.register_message {
    color: rgb(78, 78, 78);
    font-size: small;
    text-align: center;
    width: fit-content;
    text-decoration: underline;
}