<div *ngIf="allArguments">
  <ion-list>
    <ion-item *ngFor="let roundArguments of allArguments; index as round">
      <ion-label class="ion-text-center" color="primary">
        Round: {{ round }}
      </ion-label>
      <ion-list no-lines>
        <ion-item *ngFor="let argument of roundArguments">
          <ion-card class="argument-card" >
            <ion-card-header>
              <ion-card-subtitle color="secondary">
                {{ argument.user }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-text class="argument-text" readonly>
                      {{ argument.text }}
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-justify-content-center ion-text-center">
                    <ion-icon name="arrow-up-circle-outline" color="primary"></ion-icon>
                    <ion-text class="argument-rating-count" color="primary">
                      {{ argument.rating[0] }}
                    </ion-text>
                  </ion-col>
                  <ion-col class="ion-justify-content-center ion-text-center">
                    <ion-icon name="arrow-up-circle-outline" color="danger"></ion-icon>
                      <ion-text class="argument-rating-count" color="danger">
                        {{ argument.rating[1] }}
                      </ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid> 
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</div>