ion-icon {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
   }

.argument-rating-count{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.argument-card {
    width: 100%;
}

.argument-text {
    font-size: small;
    color: black;
}
