<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--TODO: Fixed position for description?-->
  <ion-card class="description-card" *ngIf="selectedDiscussion">
    <ion-card-header>
      <ion-card-title>
        {{ selectedDiscussion.name }}
      </ion-card-title>
      <ion-card-subtitle>
        Categories: {{ selectedDiscussion.categories }}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Host: {{selectedDiscussion.host}} 
      </ion-card-subtitle>
      <ion-item-divider></ion-item-divider>
    </ion-card-header>
    <ion-card-content>
      <ion-text class="description">
        {{ selectedDiscussion.description }}
      </ion-text>
    </ion-card-content>
  </ion-card>
  <div *ngIf="arguments">
    <ion-list>
      <ion-item *ngFor="let argument of arguments">
        <ion-card class="argument-card">
          <ion-card-header>
            <ion-card-subtitle color="secondary">
              {{ argument.user }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-text class="argument-text">
              {{ argument.text }}
            </ion-text> 
            <br>
            <ion-text class="argument-date">
              Posted on: {{ argument.date | date: 'dd.MM.yyyy H:mm' }}
            </ion-text>
          </ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-justify-content-center ion-text-center">
                <ion-text color='primary'>
                  Like
                </ion-text>
              </ion-col>
              <ion-col class="ion-justify-content-center ion-text-center">
                <ion-text color="danger">
                  Dislike
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="1%" (ionInfinite)="loadArguments($event)">
      <ion-infinite-scroll-content loadingSpinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="ion-padding-horizontal" (click)="showArgumentCreator()" 
      size="medium" type="submit" color="primary" expand="block">
        Write argument
    </ion-button>
  </ion-toolbar>
</ion-footer>
