<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="description-card" *ngIf="selectedDiscussion">
    <ion-card-header>
      <ion-card-title>
        {{ selectedDiscussion.name }}
      </ion-card-title>
      <ion-card-subtitle>
        Categories: {{ selectedDiscussion.categories }}
      </ion-card-subtitle>
      <ion-card-subtitle>
        Host: {{ selectedDiscussion.host }} 
      </ion-card-subtitle>
      <ion-item-divider></ion-item-divider>
    </ion-card-header>
    <ion-card-content>
      <ion-text *ngIf="isPasswordVerified" class="description">
        {{ selectedDiscussion.description }}
      </ion-text>
      <ion-text *ngIf="!isPasswordVerified" color="danger">
        Please enter a password to see the discussion.
      </ion-text>
    </ion-card-content>
  </ion-card>

  <div *ngIf="arguments">
    <ion-list>
      <ion-item *ngFor="let argument of arguments">
        <ion-card class="argument-card">
          <ion-card-header>
            <ion-card-subtitle color="secondary">
              {{ argument.user }}
              <ion-text class="argument-date">
                {{ argument.date | date: 'dd.MM.y H:mm' }}
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="argument-card-content">
            <ion-text class="argument-text">
              {{ argument.text }}
            </ion-text>
            <ion-grid>
              <ion-row>
                <ion-col button class="ion-justify-content-center ion-text-center" (click)="onLike(argument)">
                  <ion-icon name="arrow-up-circle-outline" [color]="getPositiveRatingColor(argument)"></ion-icon>
                  <ion-text class="argument-rating-count" [color]="getPositiveRatingColor(argument)">
                    {{ argument.totalRating[0] }}
                  </ion-text>
                </ion-col> 
                <ion-col class="ion-justify-content-center ion-text-center" (click)="onDislike(argument)">
                  <ion-icon class="icon"name="arrow-down-circle-outline" [color]="getNegativeRatingColor(argument)"></ion-icon>
                  <ion-text class="argument-rating-count" [color]="getNegativeRatingColor(argument)">
                    {{ argument.totalRating[1] }}
                  </ion-text>
                </ion-col>
              </ion-row>
              <ion-row (click)="routeToComments(argument)">
                <ion-col class="ion-text-center">
                  <ion-text color="primary" size="small">
                    Show comments ({{ argument.followingArgumentCount }})
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="1%" (ionInfinite)="loadArguments($event)">
      <ion-infinite-scroll-content loadingSpinner="dots">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button *ngIf="!isPasswordVerified" (click)="showPasswordInput()"
      class="ion-padding-horizontal" size="medium" type="submit" color="primary" expand="block">
        Enter password
    </ion-button>
    <ion-button *ngIf="isPasswordVerified"  (click)="showArgumentCreator()" 
      class="ion-padding-horizontal" size="medium" type="submit" color="primary" expand="block">
        Write an argument
    </ion-button>
  </ion-toolbar>
</ion-footer>
