<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="openFilterOptions()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar [(ngModel)]="searchString" (change)="getFilteredDiscussion()"></ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-refresher slot="fixed" id="refresher" (ionRefresh)="refreshDiscussions($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let std of discussions" (click)="openDetailPage(std)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="ion-text-start" color="primary">
              {{std.name}}
              <ion-icon *ngIf="std.privateFlag" name="lock-closed-outline" position="end"></ion-icon>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="sub-title ion-text-start">
              Categories: {{ getCategoriesToString(std) }} <br>
              Participants: {{ std.users.length }} / {{ std.userLimit }}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="1%" (ionInfinite)="loadSTDs($event)">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="primary" (click)="openCreationPage()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>