<ion-content>
  <!-- TODO: Refresh button-->
  <!--<ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="9" >
        <ion-searchbar [(ngModel)]="searchString" (change)="getDiscussionsByName()"></ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-button>
          <ion-icon name="filter-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <!--<ion-item class="ion-margin-horizontal">
    <ion-input class="searchbar ">

    </ion-input>
  </ion-item>
--> 
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openFilterOptions()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchString" (change)="getFilteredDiscussion()"></ion-searchbar>
  </ion-toolbar>
  
  <ion-list>
    <ion-item *ngFor="let ltd of discussions" (click)="openDetailPage(ltd)">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="ion-text-start" color="primary">
              {{ltd.name}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="sub-title ion-text-start">
              Categories: {{getCategoriesToString(ltd)}}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="1%" (ionInfinite)="loadLTDs($event)">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab class="ion-padding-end" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" [routerLink]="['/create/ltd']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>