.login-form {
    height: 100%;
    width: 75%; // adjust width on your ion-card suitable on your screen
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.login-button{
    width: 100%;
}