<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="leaveRoom()"></ion-back-button>
    </ion-buttons>
    <ion-title>STD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-stdlobby *ngIf="activeComponent[0]" [discussion]="discussion" (start)="onStart($event)"></app-stdlobby>
  <app-stdargument-creator 
    *ngIf="activeComponent[1]" 
    [discussion]="discussion" 
    [argumentSubmissionState]="argumentSubmissionState"
    (finished)="onArgumentFinished($event)">
  </app-stdargument-creator>
  <app-stdrating 
    *ngIf="roundArguments && activeComponent[2]" 
    [discussion]="discussion" 
    [roundArguments]="roundArguments" 
    [user]="username"
    [ratingSubmissionState]="ratingSubmissionState"
    (finished)="onRatingFinished($event)">
  </app-stdrating>
  <app-stdresult 
    *ngIf="roundArguments && activeComponent[3]" 
    [arguments]="roundArguments" 
    [isHost]="isHost" 
    (nextRound)="forceStartNextRound()">
  </app-stdresult>
  <app-stdcomment 
    *ngIf="randomArgument && activeComponent[4]" 
    [discussion]="discussion" 
    [argument]="randomArgument"
    [commentSubmissionState]="argumentSubmissionState"
    (comment)="onCommentFinished($event)">
  </app-stdcomment> 
  <app-stdcomment-rating 
    *ngIf="roundArguments && activeComponent[5]"
    [roundComments]="roundArguments"
    [discussion]="discussion"
    [user]="username"
    [ratingSubmissionState]="ratingSubmissionState"
    (finished)="onCommentRatingFinished($event)">
  </app-stdcomment-rating>
  <app-stdsummary 
    *ngIf="discussionArguments && activeComponent[6]" 
    [discussion]="discussion" 
    [allArguments]="discussionArguments">
  </app-stdsummary>
  <!-- Deprecated
    <app-stdcomment-result
    *ngIf="roundArguments && activeComponent[7]"
    [comments]="roundArguments"
    [isHost]="isHost">
  </app-stdcomment-result> -->
</ion-content>