<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="leaveRoom()"></ion-back-button>
    </ion-buttons>
    <ion-title>STD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-stdlobby *ngIf="activeComponent[0]" [discussion]="discussion" (start)="onStart($event)"></app-stdlobby>
  <app-stdargument-creator *ngIf="activeComponent[1]" [discussion]="discussion" (finished)="onArgumentFinished($event)"></app-stdargument-creator>
  <app-stdrating *ngIf="activeComponent[2]" [roundArguments]="roundArguments" (finished)="onRatingFinished($event)"></app-stdrating>
</ion-content>
